doctype html
html
  head
    title= title
    script(src='//static.parastorage.com/services/js-sdk/1.537.0/js/wix.min.js')
    script(type="text/javascript").
    if (10 == 10)
      alert("working")
  body