<%- include('../partials/header') %>

<h1>Your app has been successfully installed on a user's site: </h1>
<h3>Your user's site instance ID is: <%= app_id %></h3>
<p></p>
<script>
localStorage.setItem("appId", '<%- app_id %>');
</script>
<h3>The user has granted you the following permissions: </h3>
<h3>More permissions for your app in <a href="https://dev.wix.com/dc3/my-apps/<%= localStorage.getItem("app_id") %>/workspace/permissions">Wix Developers</a></h3>
