<%- include('../partials/header') %>

<h2>Your app ID is <%= appId %></h2>
 <script>
 
localStorage.setItem("appId", '<%- appId %>');
//console.log(localStorage.getItem("lastname"));

function coba(){
$(document).ready(function () {
console.log("hola");
var data ={};
    data.appId=localStorage.getItem("appId");
$.ajax({
        type: 'POST',
        data: JSON.stringify(data),
        contentType: "application/json",
        dataType:'json',
        url: '/',                      
        success: function(data) {
            console.log("success");
            console.log(JSON.stringify(data));                               
        },
        error: function(error) {
            console.log("some error in fetching the notifications,"+error.statusText);
         }
    });
	
});
}
</script>
<body onload="coba()">
      
    <h1 style="color: green">GeeksforGeeks</h1>
      
    <b>
        How to run a function when the
        page is loaded in javascript ?
    </b>
      
    <p>
        The script has been executed. Check
        the console for the output.
    </p>
</body>

